.header {
  width: 100%;
  height: 10em;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--dark-grey);
  color: white;
  font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
}

.header__title {
  font-size: 3em;
  font-weight: 600;
  text-shadow: var(--black) 0px 0px 20px;
  padding: 0;
  margin: 0;
}

.header__subTitleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__subTitle {
  font-size: 1.5em;
}

.main {
  max-width: 80%;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  max-width: 100%;
  font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
  border-collapse: collapse;
}

.table tr {
  height: 2.5em;
}

.table tr:nth-child(odd) {
  background: var(--table-rows);
}

.col1 {
  text-indent: 0.2em;
}

.col2 {
  text-align: right;
}

.mapLink {
  border: none;
  background: none;
  font-size: 0.8em;
  white-space: nowrap;
  color: var(--light-blue);
  cursor: pointer;
  transition: 0.25s;
  outline: none;
  padding: 0.2em 0.1em;
  margin-right: 0.2em;
}

.mapLink:hover,
.mapLink:focus {
  border-bottom: 1px solid var(--light-blue);
}

@media only screen and (min-width: 576px) {
  .header {
    height: 8em;
  }

  .header__subTitleWrapper {
    flex-direction: row;
  }

  .header__subTitle {
    margin-left: 1.5em;
  }

  .table {
    min-width: 66.666%;
    width: 70%;
  }
}
