.mapModal__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  will-change: auto;
}

.mapModal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.mapModal__content {
  width: min-content;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;
  background-color: white;
  font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
  border-radius: 4px;
  box-shadow: 0 0 5px 3px var(--shadows);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5em 1.5em 1.5em;
}

.mapModal__place {
  display: block;
  text-align: center;
  margin: 1.5em auto;
  font-weight: 600;
}

.btn___close {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  outline: none;
  color: var(--light-blue);
}

.btn___close:focus,
.btn___close:hover {
  border-bottom: 1px solid var(--light-blue);
}
