.textFieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}

.textFieldWrapper__label,
.textFieldWrapper__input,
.textFieldWrapper__input::placeholder,
.textFieldWrapper__error {
  font-family: "Lato", "Lucida Grande", Tahoma, sans-serif;
  text-align: center;
  transition: 0.25s ease-in-out;
}

.textFieldWrapper__label {
  color: var(--light-grey);
  position: relative;
  top: -1.5em;
  z-index: -1;
}

.textFieldWrapper__input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--light-grey);
  background: none;
}

.textFieldWrapper__input:focus {
  border-bottom: 2px solid var(--organge);
}

.textFieldWrapper__input:focus + .textFieldWrapper__label,
.textFieldWrapper__label___mini {
  top: -3em;
  transform: scale(0.75);
}

.textFieldWrapper__error {
  font-size: 1em;
  position: relative;
  bottom: 0.25em;
  color: var(--red);
  transition: 0.25s ease-in-out;
}
