:root {
  --light-blue: rgb(4, 178, 189);
  --light-grey: rgba(43, 48, 49, 0.666);
  --dark-grey: rgb(43, 48, 49);
  --black: rgba(0, 0, 0, 0.8);
  --red: rgba(230, 30, 30, 0.8);
  --organge: rgb(241, 168, 26);
  --table-rows: rgba(43, 48, 49, 0.05);
  --shadows: rgba(43, 48, 49, 0.2);
}
